<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.bilkentevent">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Campus Events"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ClubProfileActivity"></activity>
        <activity android:name=".PersonActivity" />
        <activity android:name=".CalendarActivity" />
        <activity android:name=".AddPersonalEvent" />
        <activity android:name=".EventActivity" />
        <activity android:name=".ClubRegisterActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".AddEventActivity" />
        <activity android:name=".EventsListActivity" />
        <activity android:name=".ClubLoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>